{
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@", "./views"]
                ],
                "extensions": [".js", ".jsx", ".json", "tsx"]
            }
        }
    }
}